---
import LinkButton from "./LinkButton.astro";

interface Props {
  title: string;
  description: string;
  href: string;
  price: string;
  imageSrc: string;
  imageAlt: string;
  className: string; // Cambiado de `class` a `className`
}

const { imageSrc, imageAlt, href, title, description, price, className } =
  Astro.props;
---

<div class={`h-auto w-full ${className} bg-white font-open-sans`}>
  <a href={href} class="relative block">
    <img
      src={imageSrc}
      alt={imageAlt}
      class="relative object-cover w-full sm:h-[450px] md:h-[300px]"
    />
    <div class="absolute inset-0 bg-black opacity-20"></div>
    <h2
      class="absolute bottom-0 left-0 text-white bg-black bg-opacity-30 p-2 w-full font-bold z-10 text-2xl"
    >
      {title}
    </h2>
    <div class="flex flex-col p-4 gap-y-4 h-auto relative z-10">
      <p class="text-gray-700 leading-7 my-3">
        {description}
      </p>
      <p class="text-gray-900 font-bold text-left text-[30px]">
        $ {price}
      </p>
      <LinkButton text="Ver Propiedad" href={href} />
    </div>
  </a>
</div>
