---
import CardVertical from "../components/CardVertical.astro";
import Header from "../components/Header.astro";
import Title from "../components/Title.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
import { properties } from "../data/propiedades";
import FeaturedProperty from "../components/FeaturedProperty.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Real State">
  <Header />
  <main class="m-3 my-[100px] max-w-[1200px] mx-auto md:px-4">
    <Title titleFirst="Nuestras" accentRest="Propiedades" />
    <div
      class="grid grid-cols-1 md:grid-cols-[repeat(2,minmax(300px,1fr))] lg:grid-cols-[repeat(3,minmax(300px,1fr))] grid-rows-2 gap-4"
    >
      {
        properties.map((property) => (
          <CardVertical
            title={property.title}
            description={property.description}
            price={property.price}
            imageSrc={property.imageSrc}
            imageAlt={property.imageAlt}
            href={property.href}
            className={property.className}
          />
        ))
      }
    </div>
  </main>
  <FeaturedProperty
    title="Propiedad Destacada"
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero earum voluptatem suscipit ratione sapiente hic nobis quisquam, voluptates sed voluptatum enim totam quod nostrum tempore laboriosam magnam, repudiandae temporibus! Cupiditate!"
    price="$ 1,200,000.00"
    href="#"
    bgImage="/img/destacada.jpg"
  />
  <Testimonials />
  <Footer />
</Layout>
